<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Secure Your Bag!</title> <!-- Add bag emoji here -->
</head>
<body>
<h1>Maz, Welcome to Secure Your Bag!</h1>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/customer_transactions">View Transactions</a></li>
                <li><a href="/customer_transactions/new">Add Transaction</a></li>
                <li><a href="/merchants">Merchants</a></li>
                <li><a href="/categories">Categories</a></li>
            </ul>
        </nav>
    </header>
    <div class = "container">
        {% block content%}
        {% endblock %}
    </div>
</body>
</html>