{% extends "base.jinja" %}
{% block content %}

<form action="/customer_transactions/{{customer_transaction.id}}" method="POST">
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" value="{{customer_transaction.description}}" required autofocus>
    </div>

    <div>
        <label for="amount">Amount</label>
        <input type="number" id="amount" name="amount" value="{{customer_transaction.amount}}" required>
    </div>

    <div>
        <label for="merchant">Merchant</label>
        <select id="merchant" name="merchant_id">
            {% for merchant in merchants %}
                <option value="{{ merchant.id }}"
                    {% if customer_transaction.merchant.id == merchant.id %} selected = "selected"{% endif %}>
                    {{merchant.name}}
                </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="category">Category</label>
        <select id="category" name="category_id">
            {% for category in categories %}
                <option value="{{ category.id }}"
                    {% if customer_transaction.category.id == category.id %} selected = "selected"{% endif %}>
                    {{category.name}}
                </option>
            {% endfor %}
        </select>
    </div>

    <button type="submit">Edit Transaction</button>

</form>

{% endblock %}