{% extends "base.jinja"%}
{% block content %}

<form action="/customer_transactions" method="post">

<div>
    <label for="description">Description</label>
    <input type="text" id="description" name="description" required autofocus>
</div>

<div>
    <label for="amount">Amount</label>
    <input type="number" id="amount" name="amount" required>
</div>

<div>
    <label for="merchant">Merchant</label>
    <select id="merchant" name="merchant" required>
        {% for merchant in merchants %}
            <option value="{{ merchant.id }}">{{ merchant.name }}</option>
        {% endfor %}
    </select>
</div>

<div>
    <label for="category">Category</label>
    <select id="category" name="category" required>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
</div>

<button type="submit">Add Transaction</button>

</form>

{% endblock %}