{% extends "base.jinja" %}

{% block content %}

<h1>Add a Merchant</h1>

<form actions="/merchants" method="post">

<div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required autofocus>
</div>

<button type="submit">Add Merchant</button>

</form>

{% endblock%}