{% extends "base.jinja" %}

{% block content %}

<h1>Add a Merchant</h1>

    <div class="container">

    <form action="/merchants" method="POST">

        <label for="name">Name</label>
        <input type="text" id="name" name="name" required autofocus>


    <button type="submit">Add Merchant</button>

    </form>

{% endblock%}